* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: sans-serif;
}

.customer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: 1px solid white;
    border-radius: 5vh;
}

.div {
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.text_div {
    border-radius: 5vh;
    margin: 10px;
    width: 30%;
    text-align: center;
    padding: 10px 20px;
    text-align: center;
}

.tital_name_div {
    border: 1px solid #7DFEFD;
}

.tital_name_div>p {
    color: #7DFEFD;
    text-shadow: 0px 0px 15px #7DFEFD;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.count_div {
    margin-top: -10px;
}

.counat_number_div {
    border: 1px solid #FF5722;
}

.counat_number_div>p {
    color: #FF5722;
    text-shadow: 0px 0px 15px #FF5722;
    font-size: 35px;
}